@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  color: #0b0b0b28;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 56%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-bg {
  background: linear-gradient(262deg, rgba(0, 0, 0, 0), rgba(86, 0, 0, 0.906));
}

.transit {
  transition: all 0.5 ease-in-out;
}

.move {
  animation: move-in 8s 4000ms forwards infinite;
}
@keyframes move-in {
  from {
    top: 0px;
    background: red;
  }
  to {
    top: 20rem;
    background: blue;
  }
}
