@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  color: #0b0b0b28;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 56%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
