@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  color: #0b0b0b28;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 56%;
  }
  .swiper-container {
    width: 450px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1.2rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2a2d34;
  border-radius: 2rem;
}

.linear-bg {
  background: linear-gradient(262deg, rgba(0, 0, 0, 0), rgba(86, 0, 0, 0.906));
}

.linear-p {
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.664),
    black
  );
}
.linear-l {
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.664),
    black
  );
}

.transit {
  transition: all 0.5 ease-in-out;
}

.move {
  animation: move-in 8s 4000ms forwards infinite;
}
@keyframes move-in {
  from {
    top: 0px;
    background: red;
  }
  to {
    top: 20rem;
    background: blue;
  }
}
